body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #553756;
}

/*retira a borda do bootstrap da navbar */
.navbar-default{
	border: none;
}

/*right alinha a direita as tags selecionadas*/
.right {
    float: right;
    width: 300px;
}
.left {
    float: left;
    width: 300px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin-heading{
	color: white;
	padding: -5px 0px 0px 0px;
}
.form-signin .checkbox {
  font-weight: normal;
}

/*posiciona os textbox e botão da parte de login na navbar -> centralizado*/
.pad{
	margin:20px 0px 0px 0px;
}
.form-signin .form-control {
  
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 5px;
}

/*textbox e botão de login na navbar */
li {
	padding: 14px 15px;
    float: right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

/*container atras da parte de cadastro*/
.container{
	overflow: hidden;
	background-color:hsla(0,0%,0%,0.5);
}

/*textinho na parte de baixo da img*/
footer {
	padding-top: 55px;
	clear: right;
	color: white;
}

