body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #553756;
}

/*right alinha a direita as tags selecionadas*/
.right {
    float: right;
    width: 300px;
}

.left {
    float: left;
    width: 300px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin-heading{
	color: white;
	padding: -5px 0px 0px 0px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.pad{
	margin:35px 0px 0px 0px;
}
.form-signin .form-control {
  
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 5px;
}

/* funções da toolbar de login */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color:hsla(0,0%,0%,0.5);
}

li {
	padding: 14px 15px;
    float: right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.container{
	overflow: hidden;
	background-color:hsla(0,0%,0%,0.5);
}

